body,
html {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

.container {
	position: relative;
	text-align: center;
}

.sub-container {
	.tooltip {
		padding: 1rem;
		background-color: bisque;
		border: 2px dashed black;
		border-radius: 0.5rem;
		display: none;
		align-items: center;
		justify-content: center;
		width: 6rem;
		height: 70px;
		position: fixed;

		&::after {
			content: "";
			border: 2px dashed black;
			background-color: bisque;
			border-bottom: none;
			border-right: none;
			width: 1.6rem;
			height: 1.6rem;
			position: absolute;
			top: -0.8rem;
			left: calc(50% - 0.8rem);
			transform: rotate(45deg);
		}
	}

	.show {
		display: flex !important;
	}
}
